* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background-color: #27496d;
  }
  .itens {
    width: 100%;
    margin-left: 8px;
  }
  .container {
    position: relative;
    border: solid 2px #ececec;
    border-radius: 10px;
    width: 465px;
    height: 380px;
    margin: 100px auto;
    padding: 10px;
    color: white;
    background-color: #222831;
  }
  .container h1,
  p {
    text-align: center;
  }
  .container p,
  a {
    margin-top: 10px;
    color: white;
  }
  .container #input {
    width: 310px;
    height: 45px;
    font-size: 2em;
    border-radius: 5px;
    text-align: right;
    border: 1px groove black;
    padding-right: 10px;
    background-color: white;
    margin-right: 20px;
  }
  .input-container {
    display: flex;
    padding-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .btn {
    font-size: 1.5em;
    width: 95px;
    height: 43px;
    background-color: #00a8cc;
    color: #202124;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: none;
    box-shadow: 0px 4px #005082;
  }
  .btn-container {
    width: 100%;
  }
  .calcular {
    background-color: #f6f578;
    color: black;
    box-shadow: 0px 4px #f6d743;
  }
  .operador {
    background-color: #649d66;
    box-shadow: 0px 4px #06623b;
  }
  .limpar {
    background-color: #ff0000;
    color: white;
    box-shadow: 0px 4px #af0404;
  }
  .btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
    transition: ease 0.2s;
  }
  @media screen and (min-width: 1440px) {
    .container {
      width: 500px;
    }
    .btn-container {
      width: 480px;
    }
    .btn {
      width: 105px;
    }
    .container #input {
      width: 340px;
      margin-right: 15px;
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      width: 400px;
    }
    .btn-container {
      width: 380px;
    }
    .btn {
      width: 80px;
    }
    .container #input {
      width: 280px;
      margin-right: 15px;
    }
  }
  @media screen and (max-width: 550px) {
    .container {
      width: 350px;
    }
    .btn-container {
      width: 330px;
    }
    .btn {
      width: 65px;
    }
    .container #input {
      width: 240px;
    }
  }
  @media screen and (max-width: 420px) {
    .container {
      width: 300px;
    }
    .btn-container {
      width: 280px;
    }
    .btn {
      width: 55px;
    }
    .container #input {
      width: 210px;
    }
  }
  